1. Начальная страница

	Дизайн:
	- заголовок
	- футер

	Функциольность:	
	- о нас - переход на другую страницу
	- контакты - переход на другую страницу
	- логин - переход на другую страницу

	- просмотр книг (поиск по базе)
		- доступен без логина
		- показывает список найденных книг
		- для каждой книги в спике видны: название, автор, год издания...

	- показывать первые 5 книг из базы (самые свежие по году издания) 
		- картинка, название, автор
		- возможность перейти на детали книги

2. Страница "О Нас"

3. Страница "Контакты"

4. Страница логина

5. Страница для отдельной книги (доcтупна без логина)

	- все о книге
	- возможность заказать

6. Форма заказа


На будущее:
- Регистрация новых пользователей 
- отзывы на книги
	просмотреть существующие отзыву
	оставить отзыв